@model IEnumerable<Subject>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-4">Subject List</h2>
        <a asp-controller="Subject" asp-action="Create" class="btn btn-primary">Add Subject</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model)
            {
                <tr>
                    <td>@subject.Id</td>
                    <td>@subject.Name</td>
                    <td>@subject.Teacher?.Name</td>
                    <td class="d-flex justify-content-center align-items-center gap-2">
                        <a asp-controller="Subject" asp-action="Details" asp-route-id="@subject.Id">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a asp-controller="Subject" asp-action="Update" asp-route-id="@subject.Id">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <i class="fa-solid fa-trash"></i>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>